/target/
*.project
*.classpath
.settings/
/.idea/*
logs/*
.jar
/src/main/resources/templates/
/src/main/java/com/jgw/supercodeplatform/GeneratorServiceEntityUtil.java
/src/main/java/com/jgw/supercodeplatform/MyAutoGenerator.java
