<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <conversionRule conversionWord="logId" converterClass="net.app315.nail.common.utils.UuidConvert"/>

    <appender name="file" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/platform-marketing-supercode-3.0.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>logs/platform-marketing-supercode-3.0-%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>
                %date [%-5level]--[%logId] %c{40} %line --%mdc{client} %msg%n
            </Pattern>
        </layout>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMatch>DENY</onMatch>
            <onMismatch>ACCEPT</onMismatch>
        </filter>
    </appender>

    <appender name="error" class="ch.qos.logback.core.rolling.RollingFileAppender">

        <File>logs/platform-marketing-supercode-3.0-error.log</File>
        <encoder>
            <Pattern>%date [%-5level]--[%logId] %c{40} %line --%mdc{client} %msg%n</Pattern>
            <charset>UTF-8</charset>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>logs/platform-marketing-supercode-3.0-error-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <maxHistory>7</maxHistory>
            <TimeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>512MB</maxFileSize>
            </TimeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
    </appender>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>
                %date [%-5level]--[%logId] %c{40} %line --%mdc{client} %msg%n
            </Pattern>
        </layout>
    </appender>

    <logger name="org.springframework" level="debug" additivity="false">
        <appender-ref ref="STDOUT" />
    </logger>

    <logger name="com.jgw" level="debug" additivity="true">
        <appender-ref ref="STDOUT" />
    </logger>

    <logger name="com.jgw" level="debug" additivity="false">
        <appender-ref ref="file" />
        <appender-ref ref="error" />
    </logger>
    <logger name="org.mybatis" level="debug" additivity="false">
        <appender-ref ref="file" />
        <appender-ref ref="error" />
        <appender-ref ref="STDOUT" />
    </logger>

</configuration>
